@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("/components/header.css");
@import url("/components/sidebar.css");
@import url("/components/hambuguer-button.css");

:root{
    --font-family: 'Poppins', sans-serif;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    scroll-behavior: smooth;
    font-family: var(--font-family);
}

body{
    overflow: hidden;
}

main {
    display: flex;
    height:85vh;
}

iframe {
    width: 100%;
}










