@import url("/pages/vacancies/components/enterprise-list.css");
@import url("/pages/vacancies/components/vacancies-list.css");
@import url("/pages/vacancies/components/chart-info.css");

:root {
    --font-family: 'Poppins', sans-serif;
    --backgroud-color: white;
    --border-color: #DDD;
    --focus-color:#a80044;
    --hover-color:#ffb600;
    --done-primary-color: #155100;
    --done-secondary-color: #D0FFC9;
    --inprogress-primary-color: #796600;
    --inprogress-secondary-color: #FDFF86;
    --undone-primary-color: #8F0000;
    --undone-secondary-color: #FDD1D1;
}

* {
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    margin: 0;
    height: 100vh;
    padding: 1rem;
    background-color: #F6F6F6;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.tables {
    display: flex;
    height: 90%;
    gap: 2%;
}