@import url("/global.css");

@import url("/pages/vacancies/components/enterprise-list.css");
@import url("/pages/vacancies/components/vacancies-list.css");

body {
    margin: 0;
    height: 100vh;
    padding: 1rem;
    background-color: #F6F6F6;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

.tables {
    display: flex;
    height: 100%;
    gap: 2vh;
}

.green {
    background-color: #D0FFC9;
    color: #155100;
    border: 2px solid #155100;
}

.yellow {
    background-color: #FDFF86;
    color: #796600;
    border: 2px solid #796600;
}

.red {
    background-color: #FDD1D1;
    color: #8F0000;
    border: 2px solid #8F0000;
}