:root {
    --border-radius: 0.25rem;
    --accent-color: #00cc6b;
    --secondary-color: #a80044;
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.daily__events {
    border-radius: var(--border-radius);
    background: linear-gradient(135deg, #f9f9f9 30%, #fff 50%, #f9f9f9 70%);
    border: 1px solid #cbcbcb;
    padding: 3vh 1.5vw;
    width: 49%;
    height: 32vh;
    overflow-y: scroll;
}

.daily__events .events {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.daily__events .radius {
    border: 1px solid #cfcfcf;
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px 0 #f0f0f0;
}


.daily__events .events td,
.daily__events .events th {
    background-color: white;
    border: 1px solid #cfcfcf;
    padding: 1%;
}

.daily__events h1{
    text-align: center;
    padding: 1rem 0;
}