.schedule__wrapper {
    width: 100%;
    height: 60%;
    display: grid;
}

.schedule__wrapper .head {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    background-color: white;
}

.schedule__wrapper .head span {
    width: calc(25% - 1px);
    border: 1px solid #ccc;
    padding: .75rem;
    text-align: center;
}

.schedule__wrapper .head span:last-child {
    width: calc(25% + 5px);
}


.schedule__wrapper .head span:first-child {
    border-radius: var(--border-radius) 0 0 0;
}

.schedule__wrapper .head span:last-child {
    border-radius: 0 var(--border-radius) 0 0;
}

.schedule__wrapper .body {
    overflow-y: scroll;
}

.schedule__wrapper .week {
    display: flex;
}

.schedule__wrapper .week .day {
    width: 100%;
    max-width: 20%;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    background-color: white;
}

.schedule__wrapper .week:last-child .day:first-child {
    border-radius: 0 0 0 var(--border-radius);
}

.schedule__wrapper .week:last-child .day:last-child {
    border-radius: 0 0 var(--border-radius) 0;
}

.schedule__wrapper .week .day .day__number {
    font-size: clamp(.7rem, 3vw, 1rem);
    color: #888;
    align-self: flex-end;
}

.schedule__wrapper .week .day .tasks {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    list-style-type: none;
    padding: 0;
}

.schedule__wrapper .week .day .tasks li {
    width: 100%;
    padding: .125rem .25rem;
    display: flex;
    justify-content: space-between;
    border-radius: var(--border-radius);
}

.schedule__wrapper .week .day .tasks .done {
    background-color: var(--done-secondary-color);
    color: var(--done-primary-color);
    border: 1px solid var(--done-primary-color);
}

.schedule__wrapper .week .day .tasks .inprogress {
    background-color: var(--inprogress-secondary-color);
    color: var(--inprogress-primary-color);
    border: 1px solid var(--inprogress-primary-color);
}

.schedule__wrapper .week .day .tasks .undone {
    background-color: var(--undone-secondary-color);
    color: var(--undone-primary-color);
    border: 1px solid var(--undone-primary-color);
}