.enterprise-list {
    width: 33%;
    padding-right: .5vw;
    display: flex;
    flex-flow: column nowrap;
}

.enterprise-list .enterprise-header {
    display: flex;
    align-items: center;
    gap: 5%;
    background-color: var(--backgroud-color);
    border: 1px solid var(--border-color);
    font-size: clamp(1rem, 2vw, 1.5rem);
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    text-align: center;
}

.enterprise-list .enterprise-header form {
    width: 100%;
}

.enterprise-list .enterprise-header form .search-input {
    display: flex;
    flex-flow: row nowrap;
}

.enterprise-list .enterprise-header .search-input>input {
    font-size: clamp(.7rem, 1.5vw, 1rem);
    padding: .25rem;
    padding-top: 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--light-gray);
    transition: 200ms ease-in-out;
    width: 100%;
}

.enterprise-list .enterprise-header .search-input>input:hover {
    box-shadow: 0 3px 5px -2px var(--hover-color);
}

.enterprise-list .enterprise-header .search-input>input:focus {
    box-shadow: 0 3px 5px -2px var(--hover-color);
}

.enterprise-list .enterprise-header div {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: clamp(1rem, 1.5vw, 1.5rem);
}

.enterprise-list .enterprise-header button svg {
    width: clamp(.7rem, 1.5vw, 1.2rem);
}

.enterprise-list .enterprise-header button svg path {
    transition: 200ms ease-in-out;
}

.enterprise-list .enterprise-header button:hover svg path {
    fill: var(--hover-color);
}

.enterprise-list .enterprise-header .results {
    font-size: clamp(.7rem, 1vw, 1rem);
    color: var(--light-gray);
    white-space: nowrap;
}

.enterprise-list .enterprises {
    overflow-y: scroll;
    /* Don't Remove this Padding. It's Important to not crop the bottom, because of the overflow-y. */
    padding-bottom:2px;
    flex-flow: column nowrap;
    display: flex;
    gap: .5%;
}

.enterprise-list .enterprises .enterprise {
    background-color: var(--backgroud-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 1% 5%;
    gap: .5rem;
    cursor: pointer;
    transition: 200ms ease-in-out;
}


.enterprise-list .enterprise:hover {
    border: 1px solid var(--focus-color);
}

.enterprise-list .enterprise>a {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 30%;
}

.enterprise-list .enterprise>a .enterprise__logo {
    width: 100%;
    border: none;
}

.enterprise-list .enterprise .vertical-line {
    background-color: var(--border-color);
    border-radius: 80px;
    height: 75%;
    width: 1px;
}

.enterprise-list .enterprise .enterprise__info {
    margin: .5rem 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
}

.enterprise-list .enterprise .enterprise__info .enterprise__name {
    margin: 0;
    align-self: flex-start;
    font-size: clamp(1rem, 2vw, 2rem);
}

.enterprise-list .enterprise .enterprise__vacancies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enterprise-list .enterprise .enterprise__info .vacancies__text {
    font-size: clamp(.8rem, 2vw, 1.5rem);
}

.enterprise-list .enterprise .vacancies__info {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.enterprise-list .enterprise .vacancies__info a {
    width: 30%;
    font-size: clamp(.8rem, 2vw, 1.3rem);
    padding: 1px 0;
    text-align: center;
    border-radius: 3px;
    transition: 200ms ease-in-out;
}

.enterprise-list .enterprise .vacancies__info a.green:hover {
    box-shadow: 0 0 5px 3px var(--done-secondary-color), inset 0 0 2px 0 var(--done-primary-color);
}

.enterprise-list .enterprise .vacancies__info a.yellow:hover {
    box-shadow: 0 0 5px 3px var(--inprogress-secondary-color), inset 0 0 2px 0 var(--inprogress-primary-color);
}

.enterprise-list .enterprise .vacancies__info a.red:hover {
    box-shadow: 0 0 5px 3px var(--undone-secondary-color), inset 0 0 2px 0 var(--undone-primary-color);
}
